<h1 mat-dialog-title>You have reached the series calendar site</h1>
<h3 mat-dialog-title>By Aviv Levy</h3>
<div mat-dialog-content>On this site you can add series you want to see, delete existing series add comments, mark with a star and delete a specific episode.</div>
<br>
<div mat-dialog-content>The background of the site will change to a picture from the series when today a new episode of the series comes out.</div>
<br>
<div mat-dialog-content>The calendar logic works perfectly so you can change a month back and forth, you can change a year back and forth, you can click on a specific day and the episodes of that day will appear.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
