<div class="log-in dark-mod">
    <h1>Hello ! </h1>
    <h2>Sign In </h2>
    <h1 class="warning">for now enter as a guest</h1>
    <div class="sign-in">
        <form class="form">
            <mat-form-field class="input" appearance="fill">
                <mat-label>User name</mat-label>
                <input matInput >
            </mat-form-field>
            <mat-form-field appearance="fill" class="input">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div class="btn-content">
                <div class="log-in-btn">
                    <button mat-stroked-button color="primary">Log-in</button>
                </div>
                <div class="sign-up-guest flex">
                    <button routerLink="calendar"  mat-stroked-button>Enter as a guest</button>
                    <button mat-stroked-button >Sign-Up</button>

                </div>
            </div>
        </form>
    </div>
</div>