table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}
.day{
  // height: 50%;
  &:hover{
    cursor: pointer;
  }
  &.today{
    & h3{
      width: max-content;
      padding: 0 5px 2px;
      background-color: rgb(33, 202, 146);
      border-radius: 20%;
      line-height: 1.1;
      text-align: center;
      color: rgb(255, 254, 254);
    }
  }
  &.notThisMonth{
    color: #6d6d6d;
    // background-color: #fff;
  }
  & h3{
    font-weight: 500;
  }
}